.orderContainer {
    background-color: rgb(240, 240, 240);
    margin: 5% 0;
    padding: 2%;
}
.prendaOrderInfoPpal {
    display: flex;
    justify-content: space-between;
}
.prendaOrder p {
    margin: 0;
}
.prendaOrder {
    padding: 7%;
}
.userOrder p{
    margin-bottom: 0.5rem;
}

@media(min-width: 1200px){

    .prendaOrder{
        padding: 3%;
        width: 33%;
    }
    .prendaDivContainer {
        display: flex;
    }
    .orderTitle {
        
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}