.productsContainer {
    width: 90vw;
    margin: 8vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: 90vh;
    align-content: flex-start;
}
.productContainer {
    height: 320px;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.imgProduct{
    width: 90%;
    height: 70%;
    object-fit: cover;
    margin: 10px auto;
}
.productName{
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 3%;
    font-size: 15px;
}
.productPrice {
    font-weight: 600;
}
.productInfoContainer {
    text-align: center;
}
.stockProducts {
    position: relative;
    top: -30px;
    background: black;
    color: white;
    font-weight: 500;
    width: 50%;
    border-radius: 25px;
    padding: 1% 2%;
    font-size: 14px;
    text-align: center;
}
.categoryTitle{
    text-transform: uppercase;
    text-align: center;
    margin: 10% 0;
    width: 100%;
}

@media (min-width: 600px) {
    
    .categoryTitle{
        font-size: 35px;
    }
    .productInfoContainer{
        text-align: left;
        width: 90%;
        margin: auto;
    }
    .productContainer {
        height: 390px;
    }
    .productPrice {
        font-size: 20px;
    }
}

@media (min-width: 1000px) {
    .productName{
        font-size: 20px;
    }
    .categoryTitle{
        margin: 7% 0;
    }
    
    .productContainer {
        height: 390px;
        width: 33.3%;
    }
    .productPrice {
        font-size: 22px;
    }
 
}
@media (min-width: 1200px) {
    .productName{
        font-size: 20px;
    }
    
    .productContainer {
        height: 410px;
        width: 25%;
    }
 
}
@media (min-width: 1500px) {
    .productName{
        font-size: 22px;
    }
    .categoryTitle{
        margin: 7% 0 6%;
    }
    
    .productContainer {
        height: 450px;
    }
    .productPrice {
        font-size: 24px;
    }
 
}