.productsContainer {
    width: 90vw;
    margin: 8vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: 90vh;
    align-content: flex-start;
}
.productContainer {
    height: 320px;
    width: 50%;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.3s ease-in-out;
}
.productContainer:hover {
    box-shadow:
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  100px 100px 80px rgba(0, 0, 0, 0.07);

  box-shadow:
  -2.2px -2.2px 86px rgba(0, 0, 0, 0.026),
  10px 10px 87.5px rgba(0, 0, 0, 0.039),
  100px 100px 80px rgba(0, 0, 0, 0.07);
}
.imgProduct{
    width: 90%;
    height: 70%;
    object-fit: cover;
    margin: 10px auto;
}
.productName{
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 3%;
    font-size: 15px;
}
.productPrice {
    font-weight: 600;
}
.productInfoContainer {
    text-align: center;
}
.stockProducts {
    position: relative;
    top: -30px;
    background: black;
    color: white;
    font-weight: 500;
    width: 50%;
    border-radius: 25px;
    padding: 1% 2%;
    font-size: 14px;
    text-align: center;
}
.categoryTitle{
    text-transform: uppercase;
    text-align: center;
    margin: 10% 0;
    width: 100%;
}

@media (min-width: 600px) {
    
    .categoryTitle{
        font-size: 35px;
    }
    .productInfoContainer{
        text-align: left;
        width: 90%;
        margin: auto;
    }
    .productContainer {
        height: 390px;
    }
}

@media (min-width: 1000px) {
    
    .categoryTitle{
        margin: 7% 0;
    }
    
    .productContainer {
        height: 390px;
        width: 33.3%;
    }
}
@media (min-width: 1200px) {
    
    .productContainer {
        height: 410px;
        width: 25%;
    }
 
}
@media (min-width: 1400px) {
    
    .categoryTitle{
        margin: 7% 0 6%;
        font-weight: 700;    
    }
    
    .productContainer {
        height: 450px;
    }
    .productInfoContainer{
        margin: 5px auto;
    }
 
}
@media (min-width: 1700px) {
    
    .categoryTitle{
        margin: 6% 0 5%;
    }
    
    .productContainer {
        height: 600px;
    }
    .productName {
        font-size: 18px;
    }
    .productPrice{
        font-size: 18px;
    }
 
}