.productsContainer {
    width: 90vw;
    margin: 8vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 90vh;
}
.productsContainer h2 {
    margin: 10% 0;
    width: 80%;
}
.productContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.imgProduct{
    width: 90%;
    margin: auto;
}
.productName{
    text-transform: capitalize;
    font-weight: 400;
    width: 90%;
    margin: auto;
    margin-bottom: 3%;
    font-size: 15px;
}
.productPrice {
    font-weight: 600;
}
.productInfoContainer {
    text-align: center;
    margin-top: -25px;
}
.stockProducts {
    position: relative;
    top: -30px;
    background: black;
    color: white;
    font-weight: 500;
    width: 50%;
    border-radius: 25px;
    padding: 1% 2%;
    font-size: 14px;
    text-align: center;
}