.detailContainer {
    margin: 8vh auto;
}

.imageDetail {
    width: 100%;
    height: 70vh;
    margin: auto;
    object-fit: cover;
}
.infoBasic {
    padding: 1rem;
}
.infoBasic p {
    margin-bottom: 0.5rem;
}
.nameDetail {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Chakra Petch', sans-serif;
    color: #353535;
}

.priceDetail {
    font-weight: 600;
    font-size: 24px;
    font-family: 'Inter Tight', sans-serif;
    color: #353535;
}

.brandDetail {
    color: #878787;
    font-size: 18px;
}
.sizesBox {
    display: flex;
}
.size {
    color: #878787;
    border: #ddd 1px solid;
    width: 25%;
    text-align: center;
    padding: 2%;
    margin: 2%;
    border-radius: 10px;
}
.selectDetail {
    margin: 2%;
    color: #878787;
}
.separatorLine {    
    border-bottom: #878787 2px solid;
    margin: 8% 1% 6%;
    width: 25%;
}
.addToCartButton {
    color: white;
    font-weight: 600;
    background: #222222;
    border: 1px black solid;
    border-radius: 10px;
    padding: 3%;
    margin: 5% 2%;
    width: 96%;
}

@media(min-width: 1000px){
    .imageDetail{
        width: 50%;
        margin: unset;
    }
    .nameDetail {
        font-size: 30px;
        font-weight: 600;
    }
    .detailContainer{
        display: flex;
    }
    .infoBasic{
        width: 50%;
    }
    .infoBasic p {
        margin-bottom: 0.7rem;
    }
    .brandDetail {
        font-size: 20px;
    }
    .selectDetail {
        font-size: 17px;
    }
    .separatorLine  {
        border-bottom: #878787 0px solid;
    }
    .priceDetail {
        font-size: 32px;
    }
    .addToCartButton{
        font-size: 18px;
        font-weight: 500;
    }
}

@media(min-width: 1200px){
    .imageDetail{
        height: 90vh;
    }
}
@media (min-width: 1700px){
    .infoBasic {
        width: 40%;
        margin: 3% auto;
    }
}