.imageProductHome {
    width: 100%;
    padding: 5% 0 0;
    height: 50vh;
    object-fit: cover;
}
.homeProductInfo {
    position: relative;
    top: -200px;
    text-transform: uppercase;
    color: #fbfbfb;
    text-align: center;
    height: 0;
}
.productTitleHome {
    font-weight: 700;
    font-size: 30px;
}

.seeInfoHome {
    background: #0000005e;
    font-size: 12px;
    font-weight: 500;
    padding: 1% 3%;
    width: fit-content;
    margin: auto;
}
.productHomeBox {
    position: relative;
    width: 100%;
}
@media (min-width:639px){
    .seeInfoHome {
        font-size: 14px;
    }
    .homeProductInfo {
        top: -220px;
    }
}
@media (min-width:1023px){
    .productHomeBox {
        width: 50%;
        display: block;
    }
    .homeProductInfo {
        top: -280px;
    }
    .homeProductsContainer {
        display: flex;
        flex-wrap: wrap;
        background-color: black;
    }
}
@media (min-width:1239px){
    .imageProductHome {
        padding: 2% 0 0;
    }
    .homeProductInfo {
        top: -200px;
    }
}
@media (min-width:1439px){
    .homeProductInfo {
        top: -250px;
    }
}
@media (min-width:1439px){
    .productTitleHome {
        font-size: 38px;
        margin-bottom: 2rem;
    }
    .seeInfoHome {
        font-size: 16px;
    }
}