.heroImage {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    margin-top: 8vh;
    position: relative;
}

.sloganHero {
    font-style: italic;
    position: absolute;
    bottom: 120px;
    left: 20px;
    z-index: 1;
    color: white;
    font-size: xx-large;
    font-weight: 100;
}
.parmaHero {
    position: absolute;
    bottom: 180px;
    left: 20px;
    z-index: 1;
    color: white;
    font-size: 30px;
    font-size: xx-large;
    font-weight: 800;
}