.cartWidgetBox{
    width: 55vw;
    position: absolute;
    top: 5vh;
    background: #fafafaeb;
    right: -19vw;
    text-align: right;
    display: flex;
    flex-direction: column;
}
.cartWidgetImage {
    height: 50px;
}
.cartWidgetContainerInfo {
    display: flex;
    justify-content: space-around;
}
.cartWidgetItemContainer {
    display: flex;
    flex-direction: column;
}
.cartWidgetItemDelete{
    border: none;
    background-color: #FAFAFA;
}
.cartWidgetItemContainer h6{    
    font-size: 14px;
    margin: 5% 9% 5% 0;
    font-weight: 600;
}

.cartWidgetButton {
    text-align: left;
    margin: 1% auto 7%;
    text-transform: uppercase;
    font-weight: 800;
}

@media(min-width:600px) {
    .cartWidgetItemContainer h6 {
        font-size: 15px;
        margin: 8% 16% 5% 0;
    }
    .subtotalCart {
        margin: auto;
    }
    
    .cartWidgetBox{    
        right: -17vw;
    }
}
@media(min-width:1000px) {
    .cartWidgetItemContainer h6 {
        font-size: 18px;
        margin: 8% 18% 5% 0;
    }
    .cartWidgetImage {
        height: 100px;
    }
    .cartItemDetail{
        font-size: 16px;
    }
    .cartItemPrice {
        font-size: 19px;
    }
}
@media(min-width:1200px) {
    .cartWidgetItemContainer h6 {
        font-size: 20px;
        margin: 8% 17% 5% 0;
    }
    .cartWidgetImage {
        height: 100px;
    }
    .cartItemDetail{
        font-size: 18px;
    }
    .cartItemPrice {
        font-size: 20px;
    }
    .cartWidgetBox{
        right: -12vw;
        width: 45vw;
    }
    .cartWidgetButton {
        font-size: 20px;
    }
}   
@media(min-width:1200px) {
    .cartWidgetBox{
        right: -13vw;
    }
}

@media(min-width:1600px) {
    .cartWidgetBox{
        right: -13vw;
        width: 35vw;
    }
    .cartWidgetItemContainer h6 {
        font-size: 24px;
        margin: 8% 18% 5% 0;
    }
    .infoCartItem p {   
        font-size: 22px;
    }
    .subtotalCart {
        font-size: 26px;
    }
    .cartWidgetButton {
        font-size: 26px;
    }
}
