.cartWidgetBox{
    width: 55vw;
    position: absolute;
    top: 6vh;
    background: #fafafaeb;
    right: -19vw;
    text-align: right;
    display: flex;
    flex-direction: column;
}
.cartWidgetImage {
    height: 50px;
}
.cartWidgetContainerInfo {
    display: flex;
    justify-content: space-around;
}
.cartWidgetItemContainer {
    display: flex;
    flex-direction: column;
}
.cartWidgetItemDelete{
    border: none;
    background-color: #FAFAFA;
}
.cartWidgetItemContainer h6{    
    font-size: 14px;
    margin: 5% 9% 5% 0;
    font-weight: 600;
}

.cartWidgetButton {
    text-align: left;
    margin: 1% auto 7%;
    text-transform: uppercase;
    font-weight: 800;
}