.header {
    display: flex;
    justify-content: space-between;
    height: 8vh;
    top: 0;
    z-index: 100;
    position: fixed;
    background: #FAFAFA;
    width: 100%;
    padding: 0.3rem 1rem;
}
.logoNavbar {
    width: 100px;
    object-fit: contain;
}
.rightNavbar {
    display: flex;
    width: 22%;
    justify-content: space-between;
    align-items: center;
}
.rightNavbar p {
    margin-bottom: 0;
}
.dropdownHeader {
    color: black;
    background: #FAFAFA;
    width: 60%;
    height: 100vh;
    padding: 5%;
    margin: 0 -5%;
    display: flex;
    flex-direction: column;
}
.closeIconNavbar{
    margin: -3% 0;
    position: relative;
    left: 85%;
}
.dropdownItemsContainer {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
}
.dropdownItemsContainer a {
    margin-bottom: 1rem;
}
a:focus {
    font-weight: 500;
} 
a:hover {
    font-weight: 500;
}
