.header {
    display: flex;
    justify-content: space-between;
    height: 8vh;
    top: 0;
    z-index: 100;
    position: fixed;
    background: #FAFAFA;
    width: 100%;
    padding: 0.3rem 5%;
}
.logoNavbar {
    width: 100px;
    object-fit: contain;
}
.rightNavbar {
    display: flex;
    width: 22%;
    justify-content: space-between;
    align-items: center;
}
.rightNavbar p {
    margin-bottom: 0;
}
.dropdownHeader {
    color: black;
    background: #FAFAFA;
    width: 60%;
    height: 100vh;
    padding: 5%;
    margin: 0px -6%;
    display: flex;
    flex-direction: column;
}
.closeIconNavbar{
    margin: -3% 0;
    position: relative;
    left: 85%;
}
.dropdownItemsContainer {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
}
.dropdownItemsContainer a {
    margin-bottom: 1rem;
}
a:focus {
    font-weight: 500;
} 
a:hover {
    font-weight: 500;
}
.activeNavbar {
    font-weight: 600;
}
.cartItemCount {
    position: absolute;;
    top: -8px;
    right: -8px;
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cartNavbar {
    position: relative;
}

.menuIcon:hover {
    cursor: pointer;
}
@media (min-width:600px){
    .logoNavbar {
        width: 150px;
    }
    .rightNavbar {
        width: 18%;
    }
    .iconsNavbar{
        font-size: 1.8rem !important;
    }
    .dropdownHeader {
        font-size: 18px;
        margin: 0px -7%;
    }
    .dropdownItemsContainer {
        padding-top: 13%;
    }
}
@media (min-width:1000px){
    .logoNavbar {
        width: 150px;
    }
    .rightNavbar {
        width: 16%;
    }
    .dropdownHeader {
        width: 50%;
        font-size: 20px;
        /* padding: 4% 5% 4%; */
    }
    .dropdownItemsContainer {
        padding-top: 10%;
    }
    .closeIconNavbar{
        margin: -4% 2%;
    }
}
@media (min-width:1200px){
    .header{
        height: 10vh;
    }
    .rightNavbar {
        width: 10%;
    }
    .dropdownHeader {
        padding: 3% 5%;
        width: 45%;
    }
    .dropdownItemsContainer {
        padding-top: 10%;
    }
    .dropdownItemsContainer a {
        margin-bottom: 0.9rem;
        font-size: 19px;
    }
}
@media (min-width:1400px){
    .logoNavbar{
        width: 170px;
    }
    .closeIconNavbar{
        left: 87%;
    }
}
@media (min-width:1700px){
    .logoNavbar {
        width: 200px;
    }
    .dropdownHeader {
        width: 40%;
        font-size: 24px;
    }
    .dropdownItemsContainer a {
        margin-bottom: 1rem;
        font-size: 22px;
    }
}