.tableDiv {
    font-size: 12px;
    margin-bottom: 10vh;
}
.dashboardItemContainer{
    display: flex;
    justify-content: space-evenly;
}
.dashboardContainer {
    min-height: 90vh;
    padding: 10vh 0;
}
.dashboardContainer h2 {
    text-align: center;
    margin: 5% 0;
}
.tableRowDashboard{
    width: 100vw;
}
.tableRowDashboard td{
    max-width: 20%;
    padding: 5% 0;
    border-bottom: 1px solid grey;
}
.dashboardButton {
    background-color: #fff;
    border: 2px grey solid;
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 6%;
}
.deleteButton:hover{
    background-color: red;
    border: 2px red solid;
}
.editButton:hover {
    background-color: yellow;
    border: 2px yellow solid;
}
.addButton:hover {
    background-color: black;
    border: 2px black solid;
    color: white;
    font-weight: 400;
}
.addButton {
    padding: 1%;
    margin-left: 25%;
    margin-bottom: 15%;
}
.addMoreButton {
    border: 1px solid grey;
    width: 10%;
}
.colorsDiv {
    display: flex;
    flex-wrap: wrap;
}
.colorsDiv .input {
    display: flex;
    width: 40%;
    flex-wrap: wrap;
}
.inputModal {
    padding: 6px;
}
@media(min-width:1000px){
    .tableDiv {
        font-size: 16px;
        width: 90vw;
        margin: auto;
    }
    .addButton {
        padding: 1%;
        margin-left: 5%;
        margin-bottom: 5%;
    }
}

@media(min-width:1200px){
    .dashboardItemContainer{
        justify-content: space-around;
        width: 90%;
        height: 180px;
        margin: 2% auto;
    }
    .dashboardImagesContainer {
        width: 40%;
    }
}