.footerBox {
    background-color: #222222;
    height: 52vh;
    color: #ebebeb;
}
.logoFooter {
    width: 60%;
    margin: 10% 20%;
}
.footerLinksContainer {
    display: flex;
    border-top: white 1px solid;
    padding: 6% 0%;
    margin: 0 auto;
    width: 60%;
    justify-content: center;
}
.footerIcons {
    font-size: 2rem !important;
    margin: 3px 10px;
    color: white;
}
.footerIcons:hover {
    color: lightgrey;
}
.footerItemLinks {
    text-decoration: none;
    margin-bottom: 3%;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
}
.footerBox h6 {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 600;
}
.justina {
    padding: 2% 5%;
    text-align: right;
    font-size: 10px;
    margin: 0;
    color:#656668;
}
.location {
    font-size: 12px;
    font-weight: 300;
    color: white;
    width: 60%;
    margin: 0 auto 6%;
}
.location p{
    margin: 7% 0 2%;
}
.location strong {
    font-weight: 500;
}

@media (min-width:639px) {
    .logoFooter {
        width: 50%;
        margin: 7% 25%;
    }
    .location {
        font-size: 16px;
    }
    .justina {
        font-size: 14px;
    }
    .footerIcons {
        font-size: 2.7rem !important;
        margin: 5px 25px;
    }
}
@media (min-width:1000px) {
    .logoFooter {
        width: 40%;
        margin: 7% 30%;
    }
    .location {
        font-size: 18px;
    }
    .justina {
        font-size: 16px;
    }
    .footerIcons {
        font-size: 3.5rem !important;
        margin: 5px 35px;
    }
}

@media (min-width:1200px) {
    .logoFooter {
        width: 20%;
        margin: 7% 15%;
    }
    .location {
        position: relative;
        top: -150px;
    }
    .justina {
        margin-top: -23vh;
    }
    .footerIcons {
        font-size: 3rem !important;
        margin: 16px 0 0 25px;
    }
    .footerLinksContainer{
        display: block;
        flex-direction: column;
        position: relative;
        text-align: right;
        top: -150px;
        right: 5%;
    }
    .footerBox{ 
        height: 45vh;
    }
}
@media (min-width:1439px){
    .footerBox{ 
        height: 59vh;
    }
    
    .justina {
        margin-top: -30vh;
    }
}