.footer {
    background-color: #222222;
    color: #ebebeb;
}
.logoFooter {
    width: 60%;
    margin: 10% 20%;
}
.footerLinksContainer {
    display: flex;
    border-top: white 1px solid;
    padding: 6% 0%;
    margin: 0 auto;
    width: 60%;
    justify-content: center;
}
.footerIcons {
    font-size: 1.8rem !important;
    margin: 3px 10px;
    color: white;
}
.footerIcons:hover {
    color: lightgrey;
}
.footerItemLinks {
    text-decoration: none;
    margin-bottom: 3%;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
}
.footer h6 {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 600;
}
.justina {
    padding: 2% 5%;
    text-align: right;
    font-size: 10px;
    margin: 0;
    color:#656668;
    background-color: #222222;
}
.location {
    font-size: 12px;
    font-weight: 300;
    color: white;
    width: 60%;
    margin: 0 auto 6%;
}
.location p{
    margin: 7% 0 2%;
}
.footer strong {
    font-weight: 500;
}

@media (min-width:600px) {
    .logoFooter {
        width: 50%;
        margin: 7% 25%;
    }
    .location {
        font-size: 16px;
        width: 50%;
    }
    .justina {
        font-size: 14px;
    }
    .footerIcons {
        font-size: 2.7rem !important;
        margin: 5px 25px;
    }
    .footerLinksContainer {
        width: 50%;
    }
}
@media (min-width:1000px) {
    .logoFooter {
        width: 60%;
        margin: 7% 20%;
    }
    .location {
        width: 60%;
        margin: 0 auto 4%;
    }
    .justina {
        font-size: 16px;
        text-align: center;
    }
    .footerIcons {
        font-size: 2.7rem !important;
    }
    .footer {
        display: flex;
        align-items: baseline;
    }
    .footerLinksContainer{
        width: 70%;
        padding: 4% 0%;
    }
    .rightFooter .location {
        width: 70%;
    }
    .rightFooter {
        width: 40%;
    }
    .leftFooter {
        width: 60%;
    }
}

@media (min-width:1200px) {
    .logoFooter {
        width: 40%;
        margin: 7% 20%;
    }
    .justina {
        font-size: 14px;
        text-align: center;
    }
    .footerLinksContainer{
        width: 50%;
        padding: 4% 0%;
    }
    .rightFooter .location {
        width: 50%;
    }
    }
@media (min-width:1600px){
    .logoFooter {
        width: 35%;
        margin: 7% 20%;
    }
}