.footerBox {
    background-color: #222222;
    
    height: 37vh;
    color: #ebebeb;
}
.logoFooter {
    width: 60%;
    margin: 7% 20%;
}
.footerLinksContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
}
.footerIcons {
    font-size: 2rem !important;
    margin: 3px 10px;
    color: lightgrey;
}
.footerItemLinks {
    text-decoration: none;
    margin-bottom: 3%;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
}
.footerBox h6 {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 600;
}
.justina {
    padding: 2% 5%;
    text-align: right;
    font-size: 10px;
    margin: 0;
    margin-top: 5vh;
    color:#656668;
    font-family: 'Poppins';
}
.location {
    text-align: right;
    margin: 5%;
    font-family: 'poppins';
    font-size: 12px;
    font-weight: 300;
    position: relative;
    top: 18px;
    color: lightgrey;
}

@media (min-width:639px) {
    .logoFooter {
        width: 50%;
        margin: 7% 25%;
    }
    .location {
        font-size: 16px;
    }
    .justina {
        font-size: 14px;
    }
    .footerIcons {
        font-size: 2.7rem !important;
        margin: 5px 25px;
    }
}
@media (min-width:1000px) {
    .logoFooter {
        width: 40%;
        margin: 7% 30%;
    }
    .location {
        font-size: 18px;
    }
    .justina {
        font-size: 16px;
    }
    .footerIcons {
        font-size: 3.5rem !important;
        margin: 5px 35px;
    }
}

@media (min-width:1200px) {
    .logoFooter {
        width: 20%;
        margin: 7% 15%;
    }
    .location {
        position: relative;
        top: -150px;
    }
    .justina {
        margin-top: -23vh;
    }
    .footerIcons {
        font-size: 3rem !important;
        margin: 16px 0 0 25px;
    }
    .footerLinksContainer{
        display: block;
        flex-direction: column;
        position: relative;
        text-align: right;
        top: -150px;
        right: 5%;
    }
    .footerBox{
        
    height: 45vh;
    }
}